<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            {% stylesheets 
                'css/bootstrap.min.css' 
                'css/font-awesome.min.css' 
                'css/main.css' 
                '@FindbulbBundle/Resources/public/css/homepage.css' 
             filter='cssrewrite' %}

            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        {% endblock stylesheets %}
    </head>
    <body>

        <header class="header-login"> 
            <div class="logo-container">
                <img class="logo" src="{{app.request.scheme ~ '://' ~ app.request.host}}/find_bulb/web/images/bulb-logo.svg" >
                <div class="logo-name">FindBulb</div>
            </div>
            <div class="user-container">
                <img class="user-avatar cursor" src="{{app.request.scheme ~ '://' ~ app.request.host}}/find_bulb/web/files/avatars/7/7.jpg" >
                <div class="user-name">{{ app.user.username|slice(0, 15) }}</div>
                <div class="user-menu clearboth">
                    <ol>
                        <li><a class="clear-link-white" href="#">Profil</a></li>
                        <li><a class="clear-link-white" href="#">Wyloguj</a></li>
                    </ol>
                </div>
            </div>

        </header>
        <div class="container container-fix ">
            {% block content %}
            {% endblock content %}
        </div>
        {% include 'FindbulbBundle:Home:footer.html.twig' %}
        {% block javascripts %}
            {% javascripts 
            'js/jquery-1.11.3.min.js' 
            'js/bootstrap.min.js' 
            'js/main.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                $('.logo-container').click(function () {
                    window.location.href = "{{app.request.scheme ~ '://' ~ app.request.host}}/find_bulb/web/app_dev.php/home";
                });
                $('.user-menu').find('li').click(function(){
                    window.location.href = $(this).find('a').attr('href');
                });
                
            </script>

        {% endblock javascripts %}
    </body>
</html>
