{% extends "FindbulbBundle:Home:base.html.twig" %}

{#sam content#}

{% block content %}
    strona gówna    <br /> 
    zalogowany jako: {{ app.user.username }} <a href="{{ path('fos_user_security_logout') }}">(logout)</a><br />

    <a class="btn btn-default" href="{{ path('findbulb_new_idea') }}">Dodaj Pomysł</a>

    {% for idea in ideas %}
        <div class="row ">
            <div class="col-md-1"> OBRAZ </div>
            <div class="col-md-10">
                <div class="row-title">
                    <h4>
                        <a href="{{ path('findbulb_view_idea', { 'ideaId': idea.id }) }}">
                            {{ idea.title }}
                        </a>
                    </h4>
                </div>
                <div class="row-desc">{{ idea.description }}
                <br/>
                Dodane przez: {{idea.userAdd.username}} 
                <br/>
                Komentarzy({{ idea.comments|length }})
                
                </div>
            </div>
            <div class="col-md-1">
                <a class="glyphicon glyphicon-arrow-up" href="{{ path('findbulb_upvote_idea', { 'ideaId': idea.id }) }}"></a>{{idea.sumvotes.up}}
                <a class="glyphicon glyphicon-arrow-down" href="{{ path('findbulb_downvote_idea', { 'ideaId': idea.id }) }}"></a>{{idea.sumvotes.down}}
            </div>
        </div>
    {% endfor %}

    
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
            'css/main-index.css' 
         filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}
