{% extends "FindbulbBundle:Home:base.html.twig" %}

{#sam content#}

{% block content %}
    <div class="row nav-container">
        <div class="col-md-2 col-70 btn-container">
{#            <input type="text" class=""> Wyszkukiwarka#}
            <a class="btn btn-warning btn-new" href="{{ path('findbulb_new_idea') }}"> <span class="fa fa-lightbulb-o">&nbsp</span> Add new!</a>
        </div>
        <div class="col-md-10 col-70">
            <ul class="nav nav-tabs nav-idea nav-justified">
                <li role="presentation" class="active"><a href="#">New</a></li>
                <li role="presentation"><a href="#">Best</a></li>
                <li role="presentation"><a href="#">Popular</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Categories
            <ul>
            {% for c in categories %}
                <li>{{ c.name }}</li>
            {% endfor %}
            </ul>            
        </div>
        <div class="col-md-10 left-border">
            {% for idea in ideas %}
                {% if idea.active == 1 %}
                    {% set colorClass = 'ideaActive' %}
                {% else %}
                    {% set colorClass = 'ideaInactive' %}
                {% endif %}    

                <div class="row row-idea ">
                    <div class="col-md-2 icon-column"> 
                        <span class="fa-3x fa fa-{{ idea.category.icon }}"></span> 
                    </div>
                    <div class="col-md-8 desc-column">
                        <div class="row-title">
                            <h4 class="cursor idea-title" data-href="{{ path('findbulb_view_idea', { 'ideaId': idea.id }) }}">
                                {{ idea.title }}
                                {% if idea.active == 0 %}
                                    <span class="fa fa-lock" title="Closed"></span>
                                {% endif %}
                            </h4>
                        </div>
                        <div class="row-desc"><i>{{ idea.description }}</i></div>
                        <div class="row-desc-author">Dodane przez: {{idea.userAdd.username}}, Komentarzy({{ idea.comments|length }})</div>
                    </div>
                    <div class="col-md-2 vote-column">
                        {% if isUserVoted(idea.id) %}
                            <div class="plus-vote-container">{{ idea.sumvotes.up }}</div>
                            <div class="minus-vote-container">{{ idea.sumvotes.down }}</div>
                        {% else %}
                            {#        nie mozna glosowac jak sie jest autorem lub zaglosowano wczesniej#}
                            {{idea.sumvotes.up}}/{{idea.sumvotes.down}} 
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="clear-fix"></div>
    </div>


{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
            'css/main-index.css' 
         filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.idea-title').click(function () {
            window.location.href = $(this).data('href');
        });
    </script>

{% endblock javascripts %}