{# empty Twig template #}
{#override strony logowania#}
{% extends "UserBundle::noauthbase.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <form class="form-inline form-login" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />    
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="login or e-mail"/>
        </div>
        <div class="form-group">
            <input type="password"  class="form-control" id="password" name="_password" required="required" placeholder="password"/>
        </div>
        <div class="form-group">
            <input class="btn btn-warning" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Register</a>   
        </div>
    </form>
{% endblock fos_user_content %}

{% block content %}
    {% include 'FindbulbBundle:Flash:default.html.twig' %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="centered-register">
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Register for free</a>   
    </div>
{% endblock content %}